<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- The Basics -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <meta name="description" content="Template Map">
		<meta name="author" content="Omar Kawach">
    <link rel="icon" href="../api/assets/websiteIcon.png">

    <title>Template Map</title>
    
    <!-- Custom CSS for the app-->
    <link rel="stylesheet" href="../api/css/app.css" type="text/css"/>
    
    <!-- OpenLayers -->
    <link rel="stylesheet" href="../api/css/ol.css" type="text/css"/>
    <script
      type="text/javascript"
      src="../api/ol/ol.js"
    ></script>
    
    <!-- OpenLayers Extensions -->
    <link rel="stylesheet" href="../api/css/ol-ext.css" type="text/css"/>
    <script
      type="text/javascript"
      src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"
    ></script>

    <!-- OpenLayers LayerSwitcher -->
    <script src="https://unpkg.com/ol-layerswitcher@3.8.3"></script>
    <link rel="stylesheet" href="../api/css/ol-layerswitcher.css" type="text/css"/>

    <!-- D3 -->
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <!-- D3 -->

    <!-- Polyfill -->
    <script src="../api/pollyfill/pollyfill.min.js"></script>
  </head>

  <body>
    <script src="main.js" type="module"></script>
  </body>
</html>
